.customized {
    background-image: url(../../public/images/wave-blue-dark.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 200%;
    text-align:center; // Added by AG
    padding: 1em 1em 8em;
    color: $greyText;
    position: relative;

    @media only screen and (min-width: $tablet) {
      background-size: 100%;
    }

    @media only screen and (min-width: $desktop) {
      padding: 1em 1em 20em;
    }

    .wave-wrapper{
      position: absolute;
      top: -73px;
      left: 0;
      z-index: 1;
      right: 0;
      overflow: hidden;
      @media only screen and (min-width: $desktop) {
        top: -124px;
      }
      img{
        max-width: 1220px;
        display: block;
        position: relative;
        left: -141px;
        height: 78px;
        @media only screen and (min-width: $tablet) {
          height: 77px;
          left: 0px;
        }
        @media only screen and (min-width: $desktop) {
            max-width: 100%;
            height: 126px;
        }
            
      }
    }

    .cust-header {
      padding: 0 2em;

      h2 {
        text-transform: uppercase;

        @media only screen and (min-width: $tablet) {
          color: $darkblue;
        }
      }
      p {
        font-weight: bold;

        @media only screen and (min-width: $tablet) {
          color: black;
        }
      }
    }
    .service-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // Trying to use this code to delete bottom border for service on bottom child (Sludge Thickening)
     

      @media only screen and (min-width: $tablet) {
        flex-direction: row;
      }

      .service {
        width: 95%;
        display: flex;
        border-bottom: 1px $greyText solid;

        @media only screen and (min-width: $tablet) {
          flex-direction: column;
          border-bottom: none;
          height: 400px;
        }

        img {
          width: 50%;
          margin-left: 15px;
          margin-bottom: 2px;

          @media only screen and (min-width: $tablet) {
            width: 100%;
          }
        }
        .container-text {
          display: flex;
          align-items: center;

          @media only screen and (min-width: $tablet) {
            flex-direction: column;
          }

          h3 {
            height: 100px;
            margin: 50px 0 20px 10px;
            text-transform: uppercase;
            font-weight: 700;

            @media only screen and (min-width: $tablet) {
              color: $lightblue;
              font-size: 1.2em;
            }
          }
          a {
            display: none;
            text-decoration: underline;
            color: $greyText;

            @media only screen and (min-width: $tablet) {
              display: block;
            }
          }
        }

        &:last-child {
          border: none;
        }

      }
    }
  }
  